html {
    overflow: scroll;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: transparent;
}

.social img {
    width: 1em;
    margin: 0;
    padding: 0;
}

.social li {
    margin: 0 1px;
}

.social a {
    margin: 0;
    padding: 0;
}

#metrics img {
    height: 180px;
    padding-right: 15px;
}

@media only screen and (max-width: 1030px) {
    .grid {
        grid-template-columns: none;
        grid-row-gap: 0;
    }
}